trigger: none
 # branches:
  #   include:
  #     - main
  #     - feature/*
#add linting scaning tool here
#---------------------------------------------------------
# Terraform Install Init Validate & Plan
#---------------------------------------------------------
stages: 
  - stage: TerraformInstallandplan
    jobs:
    - job: TerraformInstall
      displayName: Terraform Install
      pool: Default
      steps:
      - task: TerraformInstaller@1
        inputs:
          terraformVersion: 'latest'
      
      - task: TerraformTask@5
        displayName: Terraform init
        inputs:
          provider: 'azurerm'
          command: 'init'
          workingDirectory: '$(System.DefaultWorkingDirectory)/enviroments/dev'
          backendServiceArm: 'sp3'
          backendAzureRmStorageAccountName: 'fghrdhh'
          backendAzureRmContainerName: 'tfstateconatiner'
          backendAzureRmKey: 'terraform.tfstate'

      - task: TerraformTask@5
        displayName: Terraform Validate
        inputs:
          provider: 'azurerm'
          command: 'validate'
          workingDirectory: '$(System.DefaultWorkingDirectory)/enviroments/dev'

      - task: TerraformTask@5
        displayName: Terraform Plan
        inputs:
          provider: 'azurerm'
          command: 'plan'
          workingDirectory: '$(System.DefaultWorkingDirectory)/enviroments/dev'
          environmentServiceNameAzureRM: 'sp3'

#---------------------------------------------
# Security scaning
#------------------------------------------
  - stage: securityScaning
    dependsOn: TerraformInstallandplan
    jobs:
      - job: securityScaning
        displayName: Security Scaning
        pool: Default
        steps:
        - task: tfsec@1
          inputs:
            version: 'v1.26.0'
            dir: '$(System.DefaultWorkingDirectory)/enviroments/dev'
# check output of ths scaning ????

#-------------------------------------------
# Manual Validation
#----------------------------------------------
  - stage: manualValidation
    dependsOn: securityScaning
    jobs:
    - job: ManualValidation
      displayName: Manual Validation
      pool: Server
      steps:
      - task: ManualValidation@1
        inputs:
          notifyUsers: 'chandanjataha1@outlook.com'
          approvers: 'chandanjataha1@outlook.com'
          instructions: 'please validate'
          onTimeout: 'resume'
          
  - stage: Deploy
    dependsOn:
    - securityScaning
    - manualValidation
    jobs:
    - job: terraformApply
      displayName: Terraform Apply
      pool: Default
      steps:
      - task: TerraformTask@5
        displayName: Terraform init
        inputs:
          provider: 'azurerm'
          command: 'init'
          workingDirectory: '$(System.DefaultWorkingDirectory)/enviroments/dev'
          backendServiceArm: 'sp3'
          backendAzureRmStorageAccountName: 'fghrdhh'
          backendAzureRmContainerName: 'tfstateconatiner'
          backendAzureRmKey: 'terraform.tfstate'

      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'apply'
          workingDirectory: '$(System.DefaultWorkingDirectory)/enviroments/dev'
          commandOptions: '-auto-approve'
          environmentServiceNameAzureRM: 'sp3'

      # - task: TerraformTask@5
      #   inputs:
      #     provider: 'azurerm'
      #     command: 'destroy'
      #     workingDirectory: '$(System.DefaultWorkingDirectory)/enviroments/dev'
      #     commandOptions: '-auto-approve'
      #     environmentServiceNameAzureRM: 'sp3'

















      

